* {
  margin: 0%;
  font-family: "Open Sans", sans-serif;
}
.btn {
  background-color: #fd6e0a;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
}
.container {
  max-width: 1040px;
  margin: auto;
}
/* header and navigation styles starts here  */
.header-area {
  position: relative;
  max-width: 100vw;
  height: fit-content;
  background: #fff8f3 url("images/header_bg.png") no-repeat bottom right;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 160px;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  color: #474747;
}
nav > ul > li {
  margin-left: 50px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.primary-color {
  color: #fd6e0a;
}

/* banner part design start here  */

.banner {
  display: flex;
  padding: 0 60px 0 200px;
}
.banner-left {
  padding: 80px 0;
}
.banner-title-sub {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 12px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 12px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 15px;
}
.btn-download {
  font-size: 20px;
}
.btn-contact {
  margin-left: 20px;
  font-size: 20px;
}
.banner-img {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

/* about me section design starts here  */

.about-me {
  margin-top: 150px;
  padding: 110px 150px;
  background: #fff6eff5;
  border-radius: 10px;
}
.section-title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #181818;
  margin-bottom: 30px;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-bottom: 60px;
}
.about-section-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.details-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
}
.details-info {
  font-weight: 400;
  font-size: 20px;
  color: #474747;
}

/* what i do section design starts here  */
.what-i-do-section {
  margin-top: 150px;
}
.img-div > img {
  width: 44px;
  height: 44px;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skills-section {
  padding: 15px;
  background: #fff;
  margin-right: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.skills-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-top: 10px;
}
.skills-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 20px;
}

/* resume section design starts here  */

.resume-section {
  margin-top: 150px;
}
.resume-info {
  display: flex;
}

/* footer area design starts here  */

.footer-area {
  height: 50px;
  min-width: 100vw;
  background: #181818;
  color: #fff;
  text-align: center;
}
